@charset "UTF-8";
/*
   em html é id = # no css   (so pode usar em um unico elemento)
   em html é class = no csss usa o . (pode ser usado em varios elementos)
*/

body{
    background-color: #6CBFE6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   color: #104761; 
   text-align: center;
}
#principal{
    background-color: #2E5161;
    color: white;
}
.aprendendo{
    background-color: #2E5161;
    color: white;
}
.basico{
    background-color: #2B1F61;
    color: white;
}
.intermediario{
    background-color: #6347E0;
    color: white;
}
.avançado{
    background-color: #9E8EE6;
    color: white;
}