@charset "UTF-8";



body{
    background-color:#FFF1D6 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.conteiner{
    margin: 0 auto;
    width: 960px;
}
h1 a {
    color: #f10000;
    text-decoration: none;
}
h1 a:hover{
    background-color: #7E9F19;
    color: #FFF1D6;
}
.article{
    background-color: #fff; 
    border: 1px solid #ccc;
    border-color:#CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding:10px
}
article h2{
    border-bottom: 1px dashed #7E9F19; 
    margin: 0;
}
article a{
    color: #2C88A7;
    font-weight: bold;
}
article img{
    border: 1px solid #2C88A7;
    float: left;
    margin: 10xp 10px 0 0;
    padding: 2px;
}
.clear{
    clear: both;
}
footer{
    font-size: 12px;
    text-align: center;

}
aside{
    background-color: #fffbe4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;

}
aside h3 {
    font-size: 14px;
    margin-top: 0;
}
aside ol{
    font-size: 12px;
}
.places{
    float: left;
    width: 660px;
}
